body {
  background-color: lightgray;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  text-align: center;
  letter-spacing: 12px;
  font-size: 50px;
  font-weight: bold;
}

h2 {
  background-color: gray;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
  font-size:35px;
  font-weight: 750;
}

img {
  margin-left: 50px;
  height: 180px;
  float: left;
  padding-left: 7%;
  padding-right: 2%;
}

p {
  font-size: 18px;
  text-indent: 40px;
  text-align: justify;
  padding-right: 15%;
}

em, #fernanditos{
  color: red;
}

strong {
  background-color: white;
}

@keyframes i {
  0% {color: red}
  50% {color: green}
  100% {color: blue}
}

#fernanditos{
 animation: i 5s infinite;   
}